* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    border: 1px solid white;
    margin: 0 auto;

    transform: scale(2.5) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}