.game-container {
    position: relative;
    width: 352px;
    height: 224px;
    margin: 0 auto;
    background-color: white;

    transform: scale(4) translateY(40%);
}

.game-container canvas {
    image-rendering: pixelated;
}